#blog {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #000;
}

    #blog .container {
        width: 90%;
        height: 100%;
        max-width: 1110px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        position: relative;
    }